{% extends 'baseDashboard.html.twig' %}

{% block title %}Confirmation PatientEvent{% endblock %}

{% block body %}
    <h1>Edit PatientEvent</h1>

    {{ include('kbm/page/DeleteForm.html.twig') }}
{% endblock %}
