.gtco-numbers-block h5 {
    color: white;
}

#ui-id-1{
 border-radius: 8px;
 border: 2px solid #06c6f3 !important;
 background-color: white !important;
list-style: none;

}

#ui-id-2{
 border-radius: 8px;
 border: 2px solid #06c6f3 !important;
 background-color: white !important; 
 list-style: none;
}

