{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<br>
<div class="content_wrapper">
	<div class="container-fluid">

<link href="{{asset('src/profile/style.css')}}" rel="stylesheet">

<div class="container emp-profile">
    <p>Bienvenue chez RDVDoc </p>
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}

</div>
</div>
</div>

{% endblock fos_user_content %}
