div.dataTables_wrapper div.dataTables_length select {
    display: -webkit-inline-box !important;
}
div.dataTables_wrapper div.dataTables_filter {
    margin-top: -7%;
}
.dt-buttons{
	width: 500px;
    margin-top: -3%;
    margin-bottom: 4%;
    margin-left: 30%;
}
.dt-buttons .dt-button {
  background-image: none;
  background: #ffffff;
  color: #252525;
  border-color: #e7e7e7;
  margin-right: 10px;
  padding: 7px 20px;
  border-radius: 0px;
  border: solid 1px;

}
.dt-buttons .dt-button:hover:not(.disabled),
.dt-buttons .dt-button:focus,
.dt-buttons .dt-button.active {
  background-image: none;
  background: #03a9f5;
  color: #ffffff;
}
button.dt-button:hover:not(.disabled),
div.dt-button:hover:not(.disabled),
a.dt-button:hover:not(.disabled) {
  background-color: #03a9f5;
  background-image: none;
  border: 1px solid #03a9f5;
  box-shadow: none;
  color: #ffffff;
}
button.dt-button:focus:not(.disabled),
div.dt-button:focus:not(.disabled),
a.dt-button:focus:not(.disabled) {
  background-color: #03a9f5;
  background-image: none;
  border: 1px solid #03a9f5;
  box-shadow: none;
  color: #ffffff;
}
button.dt-button:active:hover:not(.disabled):not(.disabled),
button.dt-button.active:hover:not(.disabled):not(.disabled),
div.dt-button:active:hover:not(.disabled):not(.disabled),
div.dt-button.active:hover:not(.disabled):not(.disabled),
a.dt-button:active:hover:not(.disabled):not(.disabled),
a.dt-button.active:hover:not(.disabled):not(.disabled) {
  background-color: #03a9f5;
  background-image: none;
  border: 1px solid #03a9f5;
  box-shadow: none;
  color: #ffffff;
}
button.dt-button:active:not(.disabled),
button.dt-button.active:not(.disabled),
div.dt-button:active:not(.disabled),
div.dt-button.active:not(.disabled),
a.dt-button:active:not(.disabled),
a.dt-button.active:not(.disabled) {
  background-color: #03a9f5;
  background-image: none;
  border: 1px solid #03a9f5;
  box-shadow: none;
  color: #ffffff;
}
@media (max-width: 1100px) {

.dt-buttons {
    width: 440px;
    margin-top: -4%;
    margin-bottom: 10%;
    margin-left: 20%;
}
div.dataTables_wrapper div.dataTables_filter {
    margin-top: -13%;
}

}
@media (max-width: 960px) {

.dt-buttons {
	width: 500px;
    margin-top: 3%;
    margin-bottom: 10%;
    margin-left: 0%;
}
}
@media (max-width: 770px) {
	.dataTables_length{
		    text-align: left !important;
	}
div.dataTables_wrapper div.dataTables_filter {
    margin-top: -13%;
    text-align: left;

}
.dt-buttons {
	width: 500px;
    margin-top: 3%;
    margin-bottom: 15%;
    margin-left: 0%;
}
}
